<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello World using Backbone.js</title>
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->

  <div id="allFlowers">All flowers here</div>
  ----------------------------------------
  <div id="europeanFlowers">European flowers here</div>

  <div id="copy"></div>

  <script id="flowerElement" type="text/template">
    <a href="#<%= link %>"><img src="<%= image %>" alt="<%= name %>" class="image" /></a>
    <ul>
    <li class="flowerInfo"><strong>Name: </strong><%= name %></li>
    <li class="flowerInfo"><strong>Price: $</strong><%= price %></li>
    <li class="flowerInfo"><strong>Color: </strong><%= color %></li>
    </ul>
  </script>

  <script id="europeanFlowerElement" type="text/template">
    <a href="#<%= link %>"><img src="<%= image %>" alt="<%= name %>" class="image" /></a>
    <ul>
    <li class="europeanFlowerStyle"><strong>Name: </strong><%= name %></li>
    <li class="europeanFlowerStyle"><strong>Color: </strong><%= color %></li>
    </ul>
  </script>

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/singleFlowerModel.js"></script>
  <script src="js/views/singleFlowerView.js"></script>
  <script src="js/views/allFlowersView.js"></script>
  <script src="js/collections/allFlowers.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/flowerApp.js"></script>


  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  $(document).ready(function(){
        if (jQuery) {
          // jQuery is loaded
          console.log('jQuery is working');
        } else {
          // jQuery is not loaded
          console.log('jQuery is not working');
        }
      });


  </script>

</body>
</html>
